.grid-cell {
    height: 10vh;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.grid-container {
    display: grid;
    gap: 1em;
}

@media (min-width: 40em) {
    .grid-container {
        grid-template-columns: 2fr 2fr;
    }
}

@media (min-width: 60em) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* .grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */