.responsive-container-simple {
    border: 1px solid blue;
    padding: 2%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.responsive-container-complex {
    border: 1px solid grey;
    padding: 5%;
    margin-top: 10vh;
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-cell {
    background-color: rgb(230, 230, 230);
    width: fit-content;
    border: 1px solid rgb(215, 215, 215);
    margin: 0 auto;
}

.grid-cell img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.tag {
    border: 1px solid red;
    background-color: #fff;
    color: #000;
    padding-inline: 5%;
    width: fit-content;
    flex-grow: 1;
    text-align: center;
}